<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
    <%= render 'shared/filter_by_form' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
    <h3><i class="fa fa-search"></i> My Searches </h3><hr/>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">  
            <%= render 'control_panel/stats/partials/panel', :panel_class=>'primary', :number=>@my_kases[:all], :day=>'Total' %>
          </div>
        </div>
      </div>
      <div class="panel-footer"><center>All</center></div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">  
            <%= render 'control_panel/stats/partials/panel', :panel_class=>'green', :number=>@my_kases[:successful], :day=>'Total' %>
          </div>
        </div>
      </div>
      <div class="panel-footer"><center>Successful</center></div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">  
            <%= render 'control_panel/stats/partials/panel', :panel_class=>'danger', :number=>@my_kases[:chargable], :day=>'Count' %>
            <center style="margin-top:-20px;"><a href="#" data-toggle="modal" data-target="#calcluateModal"><small>How this calculated?</small></a></center>
          </div>
        </div>
      </div>
      <div class="panel-footer"><center>Chargable </center></div>
    </div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
    <h3> <i class="fa fa-users"></i> Searches By Users </h3><hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
    <div class="table-responsive">
      <table class="table table-responsive table-bordered" id="users_searches">
        <thead >
          <tr>
            <th>User Email</th>
            <th><center>All</center></th>
            <th ><center>Successful</center></th>
            <th><center>Chargable</center></th>
          </tr>
         </thead>
        <tbody>
        <% @users.each do |user| %>
          <% kases = user.kases.send(@filter_by.to_sym, *@filter_params) %>
          <tr>
            <td><%= user.email %></td>  
            <td><center><%= kases.count %></center></td>  
            <td><center><%= success_count = kases.select{|k| k.successful?}.count %></center></td>  
            <td><center><%= success_count %></center></td>  
          </tr>
         <% end %>
          <tr>
            <td> All </td>  
            <td><center><%= @kases[:all]%></center></td>  
            <td><center><%= @kases[:successful]%></center></td>  
            <td><center><%= @kases[:chargable] %></center></td>  
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="calcluateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chargable Searches Calculation</h4>
      </div>
      <div class="modal-body">
        <div style="font-weight: normal">
          <p><i class="fa fa-hand-o-right"></i> Only successful searches are chargable</p>
          <div>Total Cases - <%= @my_kases[:all] %> </div>
          <div>Successful Cases - <%= @my_kases[:successful] %> </div><br/>
          <p> Chargable Cases = Successful Cases </p>
        </div>
        <p>Chargable Cases - <%= @my_kases[:chargable] %> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
