<%= form_tag 'ecourt', :class=>'form-horizontal' do %>
  

  <div class="form-group">
    <label class="control-label col-sm-2">State:</label>
    <div class="col-sm-4">
      <%= select_tag "state_code", options_for_select(@states.collect{|s| [s["name"], s["code"]]}.unshift(['Select', ''])), :class=>'form-control', :required=>true %>
    </div>
    <label class="control-label col-sm-2">District:</label>
    <div class="col-sm-4">
      <%= select_tag "dist_code", options_for_select([['---', '']]) , :class=>'form-control', :required=>true %>
    </div>
  </div>

  <div class="space-4"></div>

  <div class="form-group">
    <label class="control-label col-sm-2">Court Complex:</label>
    <div class="col-sm-10">
    	<div class="pre-scrollable" id="court_code_arr" style="height:150px">
    	</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Court Establishment:</label>
    <div class="col-sm-10">
    	<div class="pre-scrollable" id="court_code" style="height:150px">
    	</div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-1">Name:</label>
    <div class="col-sm-3">
      <input id="name" name="name" type="text" class="form-control" required="requried" value='<%= @kase.name %>'/>
    </div>
    <label class="control-label col-sm-1">Year:</label>
    <div class="col-sm-3">
      <input id="from_year" type="text" name="from_year" class="form-control" pattern="[0-9]{4}" required="required" title="Invalid Year!" value="<%= @kase.from_year %>"> 
    </div>
    <label class="col-sm-1"> <center>To</center> </label>
    <div class="col-sm-3">
      <input id="to_year" type="text" name="to_year" class="form-control" pattern="[0-9]{4}" required="required" title="Invalid Year!" value="<%= @kase.to_year %>"> 
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
    </div>
  </div>

  <div class="form-group hide" id="no_courts_selected">
    <div class="col-sm-12 alert alert-danger">
      Courts are not selected! 
    </div>
  </div>
<% end %>

<script>
$.noConflict();

$(document).ready(function(){


$("body").on('change', '#state_code', function(){
    $.ajax({
      url: '<%= ecourt_districts_path %>',
      beforeSend: function(xhr){
        $("#dist_code").html('<option value="-1">---</option>')
      },
      data: {state_code: $(this).val()},
      success: function(data){
        options = '<option value="">Select District</option>';
        $.each(data, function(i, dist){options +='<option value="'+dist.code+'">'+dist.name+'</option>'})
        $("#dist_code").html(options)
      }
    });
    });


$("body").on('change', "#dist_code", function(){
    $("input[name='court_type']").removeAttr('checked')
    $("#court_code").html('<option value="-1">Select Court</option>')
    $.ajax({
      	url: '<%= ecourt_courts_path %>',
      	data: {state_code: $('#state_code').val(), dist_code: $("#dist_code").val()},
      	success: function(data){
        	options = '';
        	$.each(data.complex, function(i, court){
		   options +='<div class="checkbox">'
			       +'<label><input type="checkbox" class="court_code_arr" court-name="'+court.name+'"name="court_code_arr[]" value="'+court.code+'"/>'+court.name+'</label>'
			   +'</div>'
		 })
        	$("#court_code_arr").html(options)

        	options = '';
        	$.each(data.establishment, function(i, court){
		   options +='<div class="checkbox">'
				+'<label><input type="checkbox" class="court_code" court-name="'+court.name+'" name="court_code[]" value="'+court.code+'"/>'+court.name+'</label>'
			     +'</div>'
		})
        	$("#court_code").html(options)
      	}
    });
});


$("form").submit(function(){
  $("#no_courts_selected").addClass('hide');

  court_complex=[];
  $(".court_code_arr:checked").each(function(){court_complex.push({'code': $(this).val(), 'name': $(this).attr('court-name')})})

  court_establishment = [];
  $(".court_code:checked").each(function(){court_establishment.push({'code': $(this).val(), 'name' : $(this).attr('court-name')})})
  
  if(court_complex.length < 1 && court_establishment.length < 1){
    $("#no_courts_selected").removeClass('hide');
    return false;
  }


  $.ajax({
      url: '<%= ecourt_search_path %>',
      type: 'POST',
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        p.find(".modal-title").html('Getting captcha');
        p.modal({ backdrop: 'static', keyboard: false });
      },
      data: {
              state_code: $('#state_code').val(), 
              dist_code: $("#dist_code").val(), 
              court_complex: court_complex,
              court_establishment: court_establishment,
              from_year: $('#from_year').val(),
              to_year: $('#to_year').val(),
              name: $('#name').val(),
              case_no: '<%= @kase.no %>'
            },
        success: function(result){
          window.location.href="<%= ecourt_test_path %>?ecourt_id="+result['search_id']
        }
    });
    return false;
});

captcha_modal = function(search_id, captcha, ecourt_result){
  return '<div><span><b>Court Code:</b> '+ecourt_result['court_code']+' <b>Year:</b> '+ecourt_result['year']+'</span></div>'+
  '<div><input type="hidden" id="ecourt_search_id" value="'+search_id+'"/><img src="'+captcha+'"/> <input type="text" id="cpt"> <button id="btn_c">Submit</button></div>'
}

/*$('body').on('click', '#btn_c', function(){
    window.location.href = '<%= ecourt_post_test_path %>?captcha='+$('#cpt').val()
 });*/

})
</script>
