<ul class="nav nav-pills">
  <% results.each_with_index do |(year, court), index| %>
    <li class="<%= index==0 ? "active":"" %>"><a data-toggle="pill" href="#<%= type+year.to_s %>"><%= year %></a></li>
<% end %>
</ul>
<div class="well" style="background-color:#FFFFFF">
<div class="tab-content  pre-scrollable pre-scrollable">
  <% results.each_with_index do |(year, court), index| %>
    <div id="<%= type+year.to_s %>" class="tab-pane fade in <%= index == 0 ? :"active":""  %>">
    <% court.each do |name, data| %>
      <h3><span class="label label-primary"><strong>Court: <%= name %></strong></span></h3>
          <br/>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td><strong>CaseType/CaseNumber/CaseYear</strong></td>
              <td style="padding-left:10px"><strong>Petitioner Versus Respondant </strong></td>
            </tr>
          </thead>
          <tbody>
            <% data.split('##').each do |row| %>
            <% r = row.split('~') %>
            <tr>
              <td style="padding-left:10px"><%= r[1] %></td>
              <td style="padding-left:10px"><%= raw r[2]%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
</div>
</div>
