<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <span>Time Taken: <%= @time[0] %> Min <%= @time[1].to_i %> Sec</span>
  </div>
</div>
<br/>
<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="nav nav-pills">
      <li class="<%= (@results[:complex].empty?) ? "":"active" %>"><a data-toggle="pill" href="#court_com">Court Complex</a></li>
      <li class="<%= (@results[:complex].empty?) ? "active":"" %>"><a data-toggle="pill" href="#court_est">Court Establishment</a></li>
    </ul>
    <div class="tab-content well">
      <div id="court_com" class="tab-pane fade in <%= (@results[:complex].empty?) ? '':'active' %>">
	<%= render 'ecourt/partials/result/court_type', :courts=>@results[:complex], :type=>'complex' %>
      </div>
      <div id="court_est" class="tab-pane fade in <%= (@results[:complex].empty?) ? "active":"" %>">
	<%= render 'ecourt/partials/result/court_type', :courts=>@results[:establishment], :type=>'establishment' %>
      </div>
    </div>
  </div>
</div>
