<% if @ecourt_search.status.eql?("completed") %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-warning">
        <div>Please wait while we are organizing results.</div>
        <progress></progress>
      </div>
    </div>
  </div>
  <script> 
$(document).ready(function(){
      window.location.href="<%= ecourt_search_results_path(@ecourt_search.id) %>"
        });
  </script>
<% else %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= form_tag ecourt_post_test_path, :class=>'form-horizontal' do %>
      <input type="hidden" name="ecourt_id" value="<%= @ecourt_search.id%>"/>
      <div class="form-group">
        <span><b>Court Type:</b> <%= @ecourt.class.to_s.gsub('Ecourts::', '') %></span>
        <span><b>Court Code:</b> <%= @ecourt.court_code %></span>
        <span><b>Year:</b> <%= @ecourt.year %></span>
      </div>
      <div class="form-group">
        <img src="<%= @captcha %>"/>
      </div>
      <div class="form-group">
        <input type="text" name="captcha" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="submit" class="form-control" value="submit" data-toggle="modal" data-target="#myModal">
      </div>
  <% end %>
  </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Submitting Captcha</h4>
      </div>
      <div id="obj" class="modal-body">
       <progress></progress>
      </div>
    </div>

  </div>
</div>
<% end %>
