<% unless @search.status.eql?("completed") %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-warning"> 
      <div>Searching inprogress! Please visit after some time.</div> 
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <span><b>Name:</b> <%= @search.kase.name %> </span>
      <span style="margin-left: 3%"><b>Years:</b> <%= @search.kase.from_year.to_s+" - "+@search.kase.to_year.to_s %> </span>
    </h4>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12 col-xs-12">
    <ul class="nav nav-pills">
      <% @search.results.each_with_index do |result, index| %>
        <li class="<%= index==0 ? "active":"" %>">
          <a data-toggle="pill" href="#result_year_<%= result.year %>"><%= result.year %><span class="badge"><%= result.response_body.count %></span></a>
        </li>
      <% end %>
    </ul>
    <div class="well">
      <div class="tab-content">
        <% @search.results.each_with_index do |result, index| %>
          <div id="result_year_<%= result.year %>" class="tab-pane pre-scrollable fade in <%= index == 0 ? :"active":""  %>">
            <div class="table-responsive">
              <table class="table table-bordered">
                <% result.response_body.each do |node| %>
                  <tr>
                    <td><a target="_blank" href="<%= supreme_court_case_title_search_result_details_path(@search.id, result.id, {:listcause=>node.values.first}) %>"><%= raw node.text %></a></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
