<h4><label class="control-label label label-primary"><strong>Court: <%= court_name %></strong></label></h4><br/>

<ul class="nav nav-pills"> 
      <% results.each_with_index do |(year, result), index| %> 
        <li class="<%= index==0 ? "active":"" %>">
          <% result_count = (result.blank?) ? 0 : result.split('##').each.count %>
          <a data-toggle="pill" href="#court_<%= type %>_<%= code %>_<%= year.to_s %>"><%= year %><span class="badge"><%= result_count %></span></a>
        </li> 
    <% end %> 
    </ul> 
    <div class="well"> 
      <div class="tab-content"> 
        <% results.each_with_index do |(year, result), index| %> 
          <div id="court_<%= type %>_<%= code %>_<%= year.to_s %>" class="tab-pane pre-scrollable fade in <%= index == 0 ? :"active":""  %>"> 
          <div class="table-responsive"> 
            <% unless result.blank? %>
             <table class='table table-bordered'> 
              <thead> 
                <tr> 
                  <th style="width:30%"><strong>CaseType/CaseNumber/CaseYear</strong></th> 
                  <th style="width:60%"><strong>Petitioner Versus Respondant </strong></th> 
                  <th style="width:10%"></th> 
                </tr> 
              </thead> 
              <tbody> 
              <% result.split('##').each do |row| %> 
                <% r = row.split('~') %> 
                <% court_name_display= (!court_name.eql?(r[6].split("@#")[0])) ? true : false %> 
                <% court_name = r[6].split("@#")[0] unless court_name.eql?(r[6].split("@#")[0]) %> 
                <% if court_name_display %> <tr><td colspan="3"><h4><label class="control-label label label-primary"><%= court_name %></label></h4></td></tr> <% end %>
                <tr> 
                  <td style="padding-left:10px; width:30%"><%= r[1] %></td> 
                  <td style="padding-left:10px; width:60%"><%= raw r[2]%></td> 
                  <td style="padding-left:10px; width:10%"> 
                    <%= link_to "view", details_path(code, r[0],r[3]), :target=>"_blank" %> 
                  </td> 
                </tr> 
               <% end %> 
              </tbody> 
            </table> 
          <% else %>
            <h4><label class="control-label label label-danger">No Result</label><h3>
          <% end %>
          </div> 
        </div> 
      <% end %> 
      </div> 
    </div>

