<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/partials/application/head' %>
</head>
<body>
<div id="wrapper">
  <%= render 'layouts/partials/application/nav' %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="page-header">
            <i class="<%= @page_icon %>"></i> <%= @page_heading %> <small><%= @page_desc %></small>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <% if notice %> <div class="alert alert-success"><%= notice %></div><% end %>
          <% if alert %><div class="alert alert-danger"><%= alert %></div><% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
