<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/> <!-- link to stylesheet CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!--  link to font awesome -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<title>Parser Ecourt! Save your time</title>

<%# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body style="background-color:#7F7E7E">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div style="margin-top:5%">
        <% if notice %> <p class="notice bg-success"><%= notice %></p><% end %>
        <% if alert %><p class="alert bg-danger"><%= alert %></p><% end %>
        <% unless devise_error_messages!.blank? %><div class="alert bg-danger"><%= devise_error_messages! %></div><% end %>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
